{% extends "DestinyAppBundle::backendBase.html.twig" %}

    {% block backendTitle %}
	    {{ entity | capitalize }}

	    {% if cantCreate == false %}
	    <a class="btn btn-success pull-right" href="{{ path('createBackend',{'entity':entity}) }}">
		    <i class="fa fa-plus-circle"></i>

		    Nuevo idioma
	    </a>
	    {% endif %}
    {% endblock %}

{% block backendBody %}

	{# @TODO tipo de listado especial, para los grupos de usuarios, secciones (tipos de menu), etc #}
{% include('@DestinyApp/Backend/listContent.html.twig' ) %}
{% endblock %}