{% set ruta = app.request.attributes.get('_route') %}
{% set activo = (ruta != 'indexBackend') ? app.request.attributes.get('_route_params').entity : '' %}

<li {% if ruta == 'indexBackend' %} class="active" {% endif %}>
    <a href="{{ path('indexBackend') }}">Dashboard</a>
</li>

<li {% if activo == 'idiomas' %} class="active" {% endif %}>
    <a href="{{ path('listBackend',{'entity':'idiomas'}) }}">
        Idiomas</a>
</li>