{% extends "::base.html.twig" %}

{% block title %}DestinyAppBundle:Frontend:portada{% endblock %}

{% block body %}
<h1>Welcome to the Frontend:portada page</h1>
	<div class="col-md-12 main">

		<h1 class="page-header">{% block backendTitle %}{% endblock %}</h1>

		<div class="col-md-12 alerta">
			{% for type, flashMessage in app.session.flashbag.all() %}
				<div class="alert alert-{{ type }} fade in">
					<a data-dismiss="alert" class="pull-right" href="" type="button">
						<i class="fa fa-times"></i>
					</a>
					{% if flashMessage.title is defined %}
						<strong>{{ flashMessage.title }}</strong><br>
						{{ flashMessage.message }}
					{% endif %}
				</div>
			{% endfor %}
		</div>

		{% block  backendBody %}
		{% endblock %}

	</div>
{% endblock %}
